div{
    display: flex;
    height: 100px;
    width: 200px;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: bisque;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid orange;
}
